<div id="login_register" class="py-5">
    <div class="container">
        <div class="tabs">
          <div class="tab active" onclick="showForm('login')">Login</div>
          <div class="tab" onclick="showForm('register')">Register</div>
        </div>
    
        <form id="login" class="active">
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
          <button type="submit" class="btn fw-bold">Login</button>
        </form>
    
        <form id="register">
          <input type="text" placeholder="First Name" required>
          <input type="text" placeholder="Last Name" required>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
    
          <div class="checkbox-wrapper">
            <input type="checkbox" id="terms" required>
            <label for="terms" class="terms-label">I accept the <a href="#" class="terms fw-bold" data-view="terms">Terms & Conditions</a></label>
          </div>
    
          <button type="submit" class="btn fw-bold">Register</button>
        </form>
      </div>
</div>