<div class="container">
    <div class="row">
        <footer class="footer row col-12 justify-content-center">
            <!-- About Us -->
            <div class="col-lg-3">
                <div class="footer-content row gap-4">
                    <h4 class="title text-white">About Us</h4>
                    <div class="details d-flex flex-column gap-4">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-grid gap-2">
                                <!-- <h4 class="text-uppercase text-warning fw-bold fst-italic m-0">qram</h4> -->
                                <div class="text-uppercase logo-container d-flex align-items-center">
                                    <img src="images/logo.png" alt="Qram Logo"><span class="text-white">Ram</span>
                                </div>
                                <p class="text-secondary lh-1">Future Technology</p>
                            </a>
                        </div>
                        <p class="text-white lh-lg" style="font-size: 0.9rem;">Qubit serves the same function as the bit in classical computing. It can exist in a superposition of its two "basis" states, a state that is in an abstract sense "between" the two basis states.</p>
                        <ul class="about-social row col-12 gap-lg-2 gap-md-3 gap-sm-3">
                            <li class="col-2 d-flex justify-content-center align-items-center fs-5 rounded-circle bg-warning">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            </li>
                            <li class="col-2 d-flex justify-content-center align-items-center fs-5 rounded-circle bg-warning">
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li class="col-2 d-flex justify-content-center align-items-center fs-5 rounded-circle bg-warning">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </li>
                            <li class="col-2 d-flex justify-content-center align-items-center fs-5 rounded-circle bg-warning">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Explore Links -->
            <div class="col-lg-3">
                <div class="footer-content row gap-4">
                    <h4 class="title text-white">Explore Link</h4>
                    <div class="details">
                        <ul class="links row col-12 gap-2 text-white">
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Home</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Videos</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Tutorials</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Patents</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Contact us</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> privacy Policy</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Our terms</a></li>
                            <li><a href="#"><i class="fa-solid fa-caret-right me-4"></i> Site map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Latest Post -->
            <div class="col-lg-3">
                <div class="footer-content row gap-4">
                    <h4 class="title text-white">Latest Video</h4>
                    <div class="details">
                        <ul class="posts row col-12 gap-4 text-white">
                            <li class="row col-12">
                            <span class="col-2 d-flex flex-column justify-content-center align-items-center lh-1 border border-white border-2 rounded-circle"><span
                                    class="fs-5">20</span><span class="text-uppercase">aug</span></span>
                                <a href="#" class="col"><span
                                        class="py-0">Lorem Ipsum is simply dummy text</span></a>
                            </li>
                            <li class="row col-12">
                            <span class="col-2 d-flex flex-column justify-content-center align-items-center lh-1 border border-white border-2 rounded-circle"><span
                                    class="fs-5">20</span><span class="text-uppercase">aug</span></span>
                                <a href="#" class="col"><span
                                        class="py-0">Lorem Ipsum is simply dummy text</span></a>
                            </li>
                            <li class="row col-12">
                            <span class="col-2 d-flex flex-column justify-content-center align-items-center lh-1 border border-white border-2 rounded-circle"><span
                                    class="fs-5">20</span><span class="text-uppercase">aug</span></span>
                                <a href="#" class="col"><span
                                        class="py-0">Lorem Ipsum is simply dummy text</span></a>
                            </li>
                            <li class="row col-12">
                            <span class="col-2 d-flex flex-column justify-content-center align-items-center lh-1 border border-white border-2 rounded-circle"><span
                                    class="fs-5">20</span><span class="text-uppercase">aug</span></span>
                                <a href="#" class="col"><span
                                        class="py-0">Lorem Ipsum is simply dummy text</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contact us -->
            <div class="col-lg-3">
                <div class="footer-content row gap-4">
                    <h4 class="title text-white">Contact us</h4>
                    <div class="details">
                        <ul class="contact col-12 d-flex flex-column gap-4 text-white">
                            <li class="row col-12 align-items-baseline">
                                <i class="fa-solid fa-location-dot col-lg-2 col-md-1 col-sm-1 text-lg-center me-3"></i>
                                <span class="col row">24 Cairo, Egypt</span>
                            </li>
                            <li class="row col-12 align-items-baseline">
                                <i class="fa-solid fa-envelope col-lg-2 col-md-1 col-sm-1 text-lg-center me-3"></i>
                                <span class="col row">hello@qram.com</span>
                            </li>
                            <li class="row col-12 align-items-baseline">
                                <i class="fa-solid fa-mobile-screen-button col-lg-2 col-md-1 col-sm-1 text-lg-center me-3"></i>
                                <span class="col row">
                                <span class="p-0">+201011111111</span>
                                <span class="p-0">+201022222222</span>
                            </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>