<div class="container">
    <div class="row col-12">
        <a href="index.html" class="logo col">
            <div class="navbar-brand text-uppercase logo-container">
                <img src="images/logo.png" alt="Qram Logo"><span class="text-white">Ram</span>
            </div>
            <p class="text-secondary">Future Technology</p>
        </a>
        <div class="nav-btn row col justify-content-end">
            <button class="navbar-toggler w-auto bg-warning" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse col-lg-6 justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center gap-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" data-view="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-view="videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-view="tutorials">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-view="patents">Patents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-view="contact">Contact Us</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link auth-link px-0" href="#" data-view="login-register">Login</a>
                </li>
                <span class="text-white">|</span>
                <li class="nav-item">
                    <a class="nav-link auth-link px-0" href="#" data-view="login-register">Register</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <button id="theme-toggle" class="btn btn-sm btn-outline-warning">
                        <i class="fas fa-moon"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>