<div class="container h-100">
    <div class="row h-100">
        <!-- Content -->
        <div class="content row col-lg-8 col-md-8 align-items-center h-100">
            <div class="col-lg-3 w-auto">
                <p><i class="fa-solid fa-mobile-screen-button"></i> 1234-5678-9012</p>
            </div>
            <div class="col-lg-4 w-auto">
                <p><i class="fa-solid fa-envelope"></i> support@qram.com</p>
            </div>
            <div class="col-lg-4 w-auto">
                <p><i class="fa-regular fa-clock"></i> Wed - 30 April 2025</p>
            </div>
        </div>
        <!-- Social -->
        <div class="social row col-lg-4 col-md-4 justify-content-end align-items-center h-100">
            <div class="col-1">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div class="col-1">
                <a href="#"><i class="fa-brands fa-x"></i></a>
            </div>
            <div class="col-1">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="col-1">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>