<!-- Main Content -->
<section class="content">
    <div class="container-fluid">
        <!-- Stats Cards -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box qram-stats-card">
                    <div class="inner">
                        <h3 class="qram-stats-value">42</h3>
                        <p>Total Videos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-video text-gray"></i>
                    </div>
                    <a href="video.html" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <div class="small-box qram-stats-card">
                    <div class="inner">
                        <h3 class="qram-stats-value">18</h3>
                        <p>Tutorials</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-pdf text-gray"></i>
                    </div>
                    <a href="tutorials.html" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <div class="small-box qram-stats-card">
                    <div class="inner">
                        <h3 class="qram-stats-value">7</h3>
                        <p>Patents</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-alt text-gray"></i>
                    </div>
                    <a href="patents.html" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                <div class="small-box qram-stats-card">
                    <div class="inner">
                        <h3 class="qram-stats-value">24</h3>
                        <p>Active Users</p>
                    </div>
            </div>
        </div>
    </div>
</section>