 <!-- Brand Logo -->
 <a href="../../index.html" class="brand-link text-center">
    <span class="brand-text font-weight-light">Q<span class="text-warning">Ram</span> Admin</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column pt-3" data-widget="treeview" role="menu">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page" data-view="dashboard">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link" data-view="videos">
                    <i class="nav-icon fas fa-video"></i>
                    <p>Videos</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link" data-view="tutorials">
                    <i class="nav-icon fas fa-file-pdf"></i>
                    <p>Tutorials</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link" data-view="patents">
                    <i class="nav-icon fas fa-file-alt"></i>
                    <p>Patents</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link" data-view="users">
                    <i class="nav-icon fas fa-users"></i>
                    <p>User Management</p>
                </a>
            </li>

            <li class="nav-item bg-dark" style="border-radius:10px">
                <a href="#" class="nav-link" data-view="users">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </nav>
</div>